@import url("https://fonts.cdnfonts.com/css/miama");
.index-body {
  background-color: #1d1d20;
}

#root {
  background-color: #1d1d20;
}

.describe-about {
  color: white;
}

.describe-about h3 {
  font-size: 40px;
  padding: 2%;
}

.aboutTasks {
  color: white;
  text-align: justify;
  line-height: 1.5em;
  margin-top: 1em;
}

#openBtn {
  cursor: none;
}

.aboutTasksRow {
  border-bottom: 0.35rem solid white;
  margin-left: 10%;
  margin-right: 7.5%;
  padding-bottom: 2.5%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, white, #1d1d20);
}

#aboutTasks-last {
  margin-top: 2%;
}

#index-profile-img {
  border-radius: 50%;
  width: 20vw;
  margin-top: 10%;
  padding-top: 5%;
  padding-right: 5%;
  border-top: 0.25rem solid;
  border-right: 0.25rem solid;
  border-radius: 20%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, white, #1d1d20);
}

#hello {
  margin-top: 5%;
  margin-left: 10%;
  padding-top: 5%;
  padding-left: 5%;
  font-family: "Segoe UI", sans-serif;
  color: white;
  text-align: left;
  line-height: 200%;
  border-top: 0.25rem solid;
  border-left: 0.25rem solid;
  border-radius: 20%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, white, #1d1d20);
}

#welcome {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: #cccccc;
}

.index-elements {
  -webkit-animation: fadeIn 1.5s;
          animation: fadeIn 1.5s;
}

.index-elements, h1, h3 {
  text-align: center;
}

#describe-main {
  text-align: left;
  margin-left: 10%;
  padding-left: 5%;
  font-family: "Segoe UI", sans-serif;
  color: #d4922f;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 3.5s steps(30, end);
          animation: typing 3.5s steps(30, end);
}

#describe-main-mob {
  display: none;
}

#describe-bottom-about-mob {
  display: none;
}

#describe-bottom-about {
  text-align: left;
  margin-left: 10%;
  font-family: "Segoe UI", sans-serif;
  color: #d4922f;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 3.5s steps(100, end);
          animation: typing 3.5s steps(100, end);
}

#describe-about {
  text-align: center;
}

#describe {
  text-align: justify;
}

#describe-bottom {
  text-align: justify;
}

#link {
  text-decoration: none;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #index-profile-img {
    border: none;
    border-radius: 50%;
    width: 50vw;
  }
  #describe-main {
    display: none;
  }
  #describe-bottom-about {
    display: none;
  }
  #describe-bottom-about-mob {
    display: block;
    text-align: left;
    margin-left: 10%;
    font-family: "Segoe UI", sans-serif;
    color: #d4922f;
  }
  #describe-main-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    font-family: "Segoe UI", sans-serif;
    color: #d4922f;
  }
  #hello {
    border-right: 0.25rem solid;
    border-image-source: linear-gradient(to bottom, white, #1d1d20);
    margin-left: 5%;
    margin-right: 5%;
  }
  #index-profile-img {
    display: none;
  }
  .col-lg-8 {
    width: 100%;
  }
  .profile-image-col {
    display: none;
  }
  .aboutTasks {
    border-bottom: 0.25rem solid white;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, white, #1d1d20);
    padding-bottom: 0.2rem;
  }
  #aboutTasks-last {
    border-bottom: none;
  }
}
/*# sourceMappingURL=index-page.css.map */