.orderMap {
    color: white;
    border-right: 1px solid white;
    padding-top: 10%;
    padding-left: 5%;
}

.orderMap li::marker {
    color: transparent;
}

.userInput {
    display: flex;
    flex-direction: column;
}

.userInput input {
    padding-left: 2%;
}

#confOderPageBtn {
    margin-left: 80%;
    width: 20%;
}

#confirmOrderButton {
    margin-left: 40%;
    width: 20%;
    margin-top: 1%;
}

#confPayBtn {
    margin-top: 2%;
    width: 20%;
}

@media screen and (max-width: 480px) {
    #confOderPageBtn {
        margin-left: 60%;
        width: 40%;
    }

    #confPayBtn {
        width: 40%;
    }

    #confirmOrderButton {
        margin-left: 18%;
        width: 64%;
        margin-top: 2%;
    }
}