h1, h4{
    color: white;
}

#imgShop{
    width: 20vw;
    max-height: 20vw;
}

#shopItem{
    width: 2vw;
    height: 2vw;
}

.shopElements{
    display: flex;
    row-gap: 1%;
    column-gap: 1%;
}

#shopBtn{
    width: 20vw;
    height: 40px;
    background-color: blue;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    transform: none;
}

#cartBtn{
    transform: none;
}

textarea{
    height: 15vw;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 1%;
    padding-left: 2%;
    resize: none;
}

label{
    color: white;
    margin-right: 5%;
}

h5{
    color: white;
}

#ctnBtn{
    background-color: transparent;
    padding: 0%;
    margin-right: 1vw;
    width: 4vw;
    height: 2vw;
    transform: none;
}

#ctnResBtn{
    padding: 0%;
    margin-right: 1vw;
    width: 4vw;
    height: 2vw;
    transform: none;
}

.cartOptions{
    display: flex;
    column-gap: 10%;
}

.userInput input{
    background-color: transparent;
    border: 1px solid white;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

.userInput p{
    padding-top: 10%;
}

.payMethodDiv p{
    padding-top: 10%;
}

#finishOrder{
    margin-top: 5%;
    transform: none;
}

#shoppingCartImg{
    width: 5vw;
}

.choosePayMethod .divLabel{
    display: grid;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    height: 5vw;
}

figcaption {
    background-color: blue;
    padding-bottom: 0%;
    margin-top: -20%;
    margin-left: 15%;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}

.text-center {
    font-size: larger;
    font-style: italic;
    color: white;
}
@media screen and (max-width: 480px) {
    
    #ctnResBtn, #ctnBtn{
        width: 10vw;
        height: 10vw;
    }

    h5{
        margin-top: 5vw;
    }

    #shopBtn{
        transform: none;
        margin-top: 5vw;
        margin-bottom: 10vw;
        width: 50%;
    }

    #imgShop{
        width: 60vw;
        max-height: 50vw;
        padding-left: 25%;
    }

    #shoppingCartImg{
        display: none;
    }

    .text-center{
        display: none;
    }

    textarea{
        height: 30vw;
    }
  }