@import '../mixins-and-variables/mixins-and-variables.scss';

#first-page-body{
    background-color: $body-bckg-col;
    padding: 2%;
}

#first-page-body ,p{
    text-align: justify;
}

#wlcome ,h2{
    text-align: center;
    text-shadow: 2px 2px #FF0000;
}

#openBtn{
    background-color: transparent;
    border-color: transparent;
    color: #d4922f;
    padding-top: 5%;
}

#openBtn:hover{
    visibility: visible;
    cursor: pointer;
}

#about-me-title h3{
    color: white;
    font-size: 40px;
}

.text h4{
    color: white;
}

#text-img{
    width: 40vw;
    padding-left: 5%;
    padding-top: 5%;
}

#mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    #text-img{
        width: 75vw;
        padding-left: 0%;
    }

    #mobile{
        display: flex;
        flex-direction: column;
    }

    #desktop{
        display: none;
    }
}