@import '../mixins-and-variables/mixins-and-variables.scss';

#header {
    background-image: linear-gradient($header-and-footer-color, $body-bckg-col);
    border-radius: 0px 0px 15px 15px;
    max-width: 100%;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover{
    color:white;
}

.nav-link{
    color: white;
}

.nav-link:focus{
    color: white;
}

.nav-link:hover{
    color: gold;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: white;
    text-decoration: underline;
    }

.navbar-nav .show > .nav-link{
    color: #d4922f;
}

.dropdown-item:hover{
    color: white;
    background-color: $body-bckg-col;
}

#navBar-profile-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container{
    max-width: 100%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color:  $body-bckg-col;
    animation: fadeIn 1s;
    overflow: hidden;

    margin: 0px;
    border: 1px solid white;
    border-top-left-radius: 0px;
}
.dropdown-item{
    color: #d4922f;
}

#translateBtn{
    background-color: transparent;
    border: none;
    transform: none;
    margin: 0%;
    color: white;
}

#translateImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
    border-color: white;
}