#carousel-image{
    border-radius: 20px;
}

#carousel{
    background-color: transparent;
    margin-left: 20%;
    width: 60%;
    padding-top: 5%;
}

@media screen and (max-width: 768px) {
    #carousel{
        margin-left: 10%;
        width: 80%;
    }
}