@import '../mixins-and-variables/mixins-and-variables.scss';

.footer-div {
    background-image: linear-gradient($body-bckg-col, $header-and-footer-color);
    border-radius: 15px 15px 0px 0px;
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;

    border-image-slice: 1;
    border-right: 0.25rem solid;
    border-left: 0.25rem solid;
    border-bottom: 0.25rem solid;
    border-image-source: linear-gradient(to top, white, $header-and-footer-color);
}

.footer-bottom h6{
    text-align: center;
    padding: 2%;
}

#h5-foot{
    text-align: center;
    color: white;
}

h6, p{
    color: #d4922f;
}

a{
    text-decoration: none;
}

#links{
    color: white;
}

#links:hover{
    color: #d4922f;
}

.icons{
    display: flex;
    flex-direction: column;
}