.btn-close{
    display: none;
}

.modal-content{
    border: 1px solid white;
    border-radius: 5%;
    padding: 2%;
}

.btn{
    transform: none!important;
}

.modal-body p{
    color: white;
}

.modal-title{
    text-align: center;
    width: 100%;
}

.modal-body{
    background-color: transparent;
}

.modal-header{
    background-color: transparent !important;
    background-image: none;
    color: white;
}

.modal-footer{
    background-color: transparent;
    background-image: none;
}

#imgOrder{
    width: 2vw;
}