.mainTitle {
  margin-top: 2%;
  margin-bottom: 2%;
}

.mainTitle h1 {
  color: white;
}

.playingField {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2.5%;
  padding-left: 10%;
}

.resultArea {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 5%;
  margin-right: 10%;
  border: 0.25rem solid;
  border-radius: 20%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, white, #1d1d20);
}

.results {
  margin-top: 5%;
}

.animate {
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.imageDivClsDisabled {
  pointer-events: none;
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.image-row-clicked {
  pointer-events: none;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-row-clicked img {
  width: 9vw;
  height: 9vw;
  margin: 5px;
  border-radius: 20px;
}

.image-row-clicked img.animate {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate3d();
          transform: translate3d();
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.image-row {
  pointer-events: all;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-row img {
  width: 9vw;
  height: 9vw;
  margin: 5px;
  border-radius: 20px;
}

.image-row img.animate {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate3d();
          transform: translate3d();
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.title, .results {
  width: 100%;
}

.title h3 {
  font-size: 44px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hiddenDisplayAnimation {
  display: none;
}

.displayAnimation {
  margin-top: 10%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d20), to(#1d1d20));
  background-image: linear-gradient(#1d1d20, #1d1d20);
}

.animation {
  height: 85px;
  overflow: hidden;
  margin-left: 1rem;
  padding: 10px;
  text-align: center;
  color: white;
}

.animation > div > div {
  height: 100px;
  display: inline-block;
}

.animation div:first-child {
  -webkit-animation: text-animation 8s infinite;
          animation: text-animation 8s infinite;
}

.first div {
  font-size: 45px;
}

.second div {
  font-size: 45px;
}

.third div {
  font-size: 45px;
}

.ngbtn {
  margin-top: 5%;
}

.hiddenngbtn {
  margin-top: 5%;
  display: none;
}

@-webkit-keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -43px;
  }
  30% {
    margin-top: -43px;
  }
  40% {
    margin-top: -106px;
  }
  60% {
    margin-top: -106px;
  }
  70% {
    margin-top: -43px;
  }
  80% {
    margin-top: -43px;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -43px;
  }
  30% {
    margin-top: -43px;
  }
  40% {
    margin-top: -106px;
  }
  60% {
    margin-top: -106px;
  }
  70% {
    margin-top: -43px;
  }
  80% {
    margin-top: -43px;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .image-row-clicked img {
    width: 17vw;
    height: 17vw;
    margin: 5px;
    border-radius: 5px;
  }
  .image-row img {
    width: 17vw;
    height: 17vw;
    margin: 5px;
    border-radius: 5px;
  }
  .animation {
    display: none;
  }
  .displayAnimation {
    display: none;
  }
  .resultArea {
    margin-bottom: 5%;
  }
  .ngbtn {
    margin-bottom: 5%;
  }
  .hiddenngbtn {
    margin-bottom: 5%;
    display: none;
  }
  .playingField {
    padding-left: 2%;
  }
  .resultArea {
    margin-right: 0%;
    margin-left: 2%;
  }
}
/*# sourceMappingURL=memoryPage.css.map */