@import '../../mixins-and-variables/mixins-and-variables.scss';

h2{
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
    text-shadow: none;
    color: white;
}

.log-in-sign-up{
    margin-top: 5%;
}

#log-sign-in{
    text-align: center;
    padding: 5%;
}

.new-account input {
    @include input-mixin;
    width: 50%;
    margin-left: 25%;
}

.sign-in-account input{
    @include input-mixin;
    width: 50%;
    margin-left: 25%;
}

#btn-prim-log{
    width: 40%;
    margin-left: 30%;
}

#btn-prim-log:hover{
    transform: scale(1.1);
}